.item {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  padding: 16px;
  margin: 8px 0;
  
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  color: rgb(90, 95, 122);
  border: none;
  background-color: transparent;
  text-decoration: none;

  box-sizing: border-box;
}

.item--desktop {
  margin: 0;
}