.container {
  position: relative;

  display: flex;
  justify-content: center;

  width: 100%;
  aspect-ratio: 2.545/1;

  background-color: red;
  
  overflow: hidden;
}

.svg {
  position: absolute;
  top: 0;
  left: 0;

  pointer-events: none;
}