.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.3em;

  padding: 0.66em 1em;

  color: rgb(0, 119, 128);
  background-color: transparent;
  border: 1px solid rgb(225, 227, 237);
  border-radius: 4px;
  outline: 2px solid transparent;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  text-decoration: none;

  transition: var(--transition);
}
.button:hover {
  outline-color: rgb(243, 244, 250);
}
.button:focus-visible {
  transition: none;
  outline-color: rgb(0, 89, 93);
}

.button--type-a {
  background-color: rgb(163, 231, 203);
  color: rgb(0, 89, 93);
  border-color: rgb(105, 211, 167);
}
.button--type-a:hover:not(:focus-visible) {
  outline-color: rgb(228, 251, 242);
}

.button--type-b {
  padding: 0.75em 2em;
  
  background-color: rgb(73, 86, 227);
  color: rgb(255, 255, 255);
  border: none;
  font-weight: 500;
}
.button--type-b:hover:not(:focus-visible) {
  outline-color: rgb(218, 221, 254);
}

.button--type-c {
  padding: 0.75em 2em;
  
  /* background-color: rgb(73, 86, 227); */
  color: rgb(73, 86, 227);
  border-color: rgb(208, 210, 224);
}

.button--type-menu-item {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  padding: 16px 0;
  
  font-weight: 500;
  color: rgb(90, 95, 122);
  border: none;
  background-color: transparent;
  text-decoration: none;

  box-sizing: border-box;
}
.button--type-menu-item:hover:not(:focus-visible) {
  outline-color: transparent;
}

.button--type-menu-item-reversed {
  flex-direction: row-reverse;
  justify-content: flex-end;
  gap: 16px;

  text-transform: capitalize;
}
.button--type-menu-item-reversed .arrow {
  transform: scaleX(-1);
}

.button--type-menu-item-a {
  position: relative;
}
.button--type-menu-item-a::after {
  content: '';

  position: absolute;
  bottom: 13px;
  left: 50%;
  
  display: block;
  width: 0;
  height: 2px;

  background-color: rgb(105, 211, 167);

  transition: width var(--transition), left var(--transition);
}
.button--type-menu-item-a:hover.button--type-menu-item-a::after,
.button--type-menu-item-a:focus-visible.button--type-menu-item-a::after {
  left: 0;
  width: 100%;
}

.button--type-round {
  padding: 0.4em 0.7em;

  font-size: 14px;
  background-color: rgb(163, 231, 203);
  border: none;
  color: rgb(0, 89, 93);
  border-radius: 2em;
}
.button--type-round:hover:not(:focus-visible) {
  outline-color: transparent;
}
.button--type-round .arrow {
  width: 0.8em;
  height: 0.8em;
}

.button--type-link {
  display: inline-flex;
  justify-content: flex-start;
  gap: 0.66em;

  padding: 0;

  color: rgb(0, 119, 128);
  font-size: 14px;
  border: none;
}
.button--type-link:hover:not(:focus-visible) {
  outline-color: transparent;
}

.button--type-link-a {
  /* color: rgb(144, 149, 173); */
  color: rgb(90, 95, 122);
  transition: color var(--transition);
}
.button--type-link-a:hover {
  color: rgb(0, 119, 128);
}
.button--type-link-a--bold {
  color: rgb(46, 50, 71);
  font-weight: 500;
}

.button--type-link-b {
  font-size: 16px;
  color: rgb(73, 86, 227);
  gap: 0.33em;
}

.button--type-icon {
  padding: 8px;

  background-color: transparent;
  border: none;

  color: rgb(175, 179, 199);
}
.button--type-icon:hover,
.button--type-icon:focus-visible {
  color: rgb(90, 95, 122);
}
.button--type-icon:hover:not(:focus-visible) {
  outline-color: transparent;
}