.container {
  display: flex;

  border-radius: inherit;
}

.left,
.right {
  padding: 32px 16px 16px;
  flex-grow: 1;
}

.right {
  padding: 32px 16px 16px;

  background-color: rgb(243, 244, 250);
  border-top-right-radius: inherit;
  border-bottom-right-radius: inherit;
}