.container {
  display: flex;

  border-radius: inherit;
}

.left,
.right {
  flex-grow: 1;
  padding: 32px 16px 16px;
}

.left {
  padding-left: 32px;
}

.right {
  padding-right: 32px;

  background-color: rgb(243, 244, 250);
  border-top-right-radius: inherit;
  border-bottom-right-radius: inherit;
}