.container {
  position: relative;
  
  display: flex;
  gap: 16px;

  height: 580px;
  margin: 16px 0;
}
.container--special {
  align-items: center;
  height: 460px;
}
.container--break {
  align-items: center;
  height: 300px;
}
.container--desktop {
  display: grid;
  grid-template-columns: 48% 4% 48%;
  gap: 0;
  height: 320px;
}
.container--desktop.container--first::before {
  content: '';

  position: absolute;
  top: -63px;
  left: calc(50% - 1px);
  
  display: block;
  width: 2px;
  height: 60px;
  
  background-image: linear-gradient(rgb(255, 255, 255), rgb(73, 86, 227));
}

.bar {
  position: relative;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  
  width: 16px;
  height: calc(100% - 12px);
  padding-top: 8px;

  flex-shrink: 0;
}
.bar::before,
.solid-bar {
  position: absolute;
  top: 28px;
  z-index: 1;

  display: block;
}
.bar::before {
  content: '';

  width: 0;
  height: calc(100% - 12px);

  border-left: 2px dashed rgb(225, 227, 237);
}
.container--desktop .bar {
  width: auto;
  left: 1px;
}
.solid-bar {
  width: 2px;
  height: 0;
  max-height: calc(100% - 12px);

  background-color: rgb(73, 86, 227);

  transition: height var(--transition);

  z-index: 2;
}
.container--active .solid-bar {
  height: calc(100% - 12px);
}

.fog {
  position: absolute;
  top: 30%;
  z-index: 2;
  
  display: block;
  width: 100%;
  height: calc(70% + 16px);

  box-shadow: 0 -20px 15px rgb(255, 255, 255);
  background-color: rgb(255, 255, 255);
}
.container--desktop .fog {
  height: calc(60%);
  box-shadow: 0 -20px 15px rgb(255, 255, 255), 0 20px 15px rgb(255, 255, 255);
}

.circle {
  position: absolute;
  top: 7px;
  
  display: block;
  width: 4px;
  height: 4px;

  border: 2px solid rgb(225, 227, 237);
  border-radius: 50%;

  transition: var(--transition);
}
.circle--active {
  width: 8px;
  height: 8px;

  background-color: rgb(73, 86, 227);
  border: 2px solid rgb(255, 255, 255);
  outline: 2px solid rgb(73, 86, 227);;
  border-radius: 50%;
}
.container--break .circle--active {
  width: 4px;
  height: 4px;
  
  background-color: rgb(73, 86, 227);
  border-color: rgb(73, 86, 227);
  outline: none;
}
.container--desktop .circle--active {
  transition: 100ms ease-in-out;
}

.container--desktop.container--break .content-container {
  position: absolute;
  left: 0;
  z-index: 4;

  width: 100%;
  margin-bottom: -110px;

  background-color: rgb(255, 255, 255);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}
.container--special .content {
  position: relative;
  z-index: 1;

  padding: 48px 32px;
  max-width: 800px;
  
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.1) 0px 1px 2px -1px;
  background-color: rgba(255, 255, 255, 0.8);
}
.container--desktop .content {
  padding-left: 32px;
}
.container--desktop.container--special .content {
  padding: 0 64px;
  
  background-color: transparent;
  box-shadow: none;
}

.icon-container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
}
.icon {
  display: block;
  width: 32px;
}

.image {
  display: block;
  max-height: 320px;
  max-width: 100%;

  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.08) 0px 0px 20px 0px;

  transition: opacity 300ms, transform 300ms;
}
.container--desktop .image {
  position: absolute;
  
  max-width: 420px;

  justify-self: center;
  transform: translate(calc(-50% - 64px), 0);
}
.container .image--hidden {
  opacity: 0;
  transform: scale(0.8) translate(calc(-50% - 128px), 50px);
}
.container .image--fixed {
  position: fixed;
  top: 350px;
  z-index: 1;

  /* should find better fix */
  pointer-events: none;
}
.container--special .image--fixed {
  position: absolute;
  top: 0;
}
.container--last .image--fixed {
  position: absolute;
  top: 0;
}

.line-container {
  position: absolute;
  top: 30px;
  left: calc(50% - 2px);
  z-index: 1;
}
.line-container::before {
  content: '';

  position: absolute;

  display: block;
  width: 1px;
  height: 10px;

  background-color: rgb(255, 255, 255);
}

.line {
  color: rgb(225, 227, 237);
}

.circle-container {
  position: absolute;
  top: 125px;
  left: 38px;
  
  padding: 8px 0;

  background-color: rgb(255, 255, 255);
}
.container--active:not(.container--desktop) .circle-container {
  left: 36px;
}
.container--desktop .circle-container .circle--active {
  transform: translate(-2px, 0);
}
.line-container .circle {
  position: static;
}

:global(.super-stroke) {
  transition: var(--transition);
}
.container--desktop :global(.super-stroke) {
  transition: 100ms linear;
}
.container--active:not(.container--desktop) :global(.super-stroke) {
  stroke-dasharray: 1000;
}