.items-container {
  position: relative;

  padding: clamp(32px, 5vw, 64px) 32px 0;
}

.avatar {
  position: absolute;
  top: 72px;
  left: calc(50% - 13px);
  z-index: 3;

  display: block;
  width: 24px;
  height: 24px;
  padding: 2px;

  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  outline: 2px solid rgb(73, 86, 227);

  transition: transform 300ms;
}
.avatar--fixed {
  position: fixed;

  top: 350px;
}
.avatar--at-end {
  position: absolute;
  top: auto;
  bottom: -10px;
}
.avatar--hidden {
  transform: scale(0);
}