.container {
  position: relative;

  padding: clamp(32px, 5vw, 64px) 0 0;

  /* background-color: red; */
}

.avatar {
  position: absolute;
  top: 72px;
  left: calc(50% - 14px);
  z-index: 1;

  display: block;
  width: 24px;
  height: 24px;
  padding: 2px;

  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  outline: 2px solid rgb(73, 86, 227);

  transition: transform 100ms;
}
.avatar--fixed {
  position: fixed;

  top: 350px;
}