.container {
  display: flex;
  gap: 16px;

  text-decoration: none;
}

.icon-container {
  width: 26px;
  height: 26px;
  padding: 7px;

  background-color: rgb(228, 251, 242);
  border-radius: 4px;

  flex-shrink: 0;
}

.heading {
  margin: 0 0 6px 0;
  
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
  color: rgb(0, 119, 128);
  line-height: 1;
}
.arrow-container {
  position: relative;
  color: rgb(175, 179, 199);
}
.container .arrow {
  position: absolute;
  top: 3px;
  left: 3px;

  width: 0px;

  transition: width 300ms;
}
.container:hover .arrow {
  width: 16px;
}

.paragraph {
  margin: 0;
  
  font-family: Roboto;
  font-size: 14px;
  color: rgb(90, 95, 122);
}