.container {
  padding: clamp(32px, 10vw, 124px) 16px;
  
  background-color: rgb(255, 255, 255);
}

.heading {
  display: flex;
  flex-direction: column;
  gap: 8px;

  max-width: 1000px;
  margin: 0 auto;
}

.heading__icon {
  color: rgb(90, 95, 122);
  display: block;
  margin: 0 auto;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;

  margin: 20px 0;
}