.container {
  position: absolute;
  top: 0;
  left: 100%;
  z-index: 3;

  width: 100%;
  height: 100%;
  padding: 16px;

  background-color: rgb(255, 255, 255);

  box-sizing: border-box;
  transition: left var(--transition);
}
.container--ready {
  left: 0;
}

.container--desktop {
  position: fixed;
  
  --width: clamp(500px, 75vw, 600px);
  
  top: var(--header-height);
  left: calc(50% - var(--width) / 2);

  width: var(--width);
  height: auto;
  padding: 0;

  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.08) 0px 2px 8px 0px;
  border-radius: 8px;
  opacity: 0;

  transition: opacity var(--transition);
}
.container--desktop.container--ready {
  opacity: 1;
}