@layer {

  body {
    margin: 0;
  
    height: 500vh;
  
    background-color: royalblue;
  }
  
  button:hover {
    cursor: pointer;
  }
  
  .icon-container:hover .icon-container__svg-part {
    fill: rgb(163, 231, 203);
    opacity: 1;
  }
  .icon-container:hover .icon-container__svg {
    opacity: 1;
  }
  
  .icon-container__svg {
    opacity: 0.65;
    transition: opacity var(--transition);
  }
  .icon-container__svg .icon-container__svg-part {
    fill: rgb(225, 227, 237);
  }
  
  .icon-container__svg-part {
    fill: rgb(163, 231, 203);
    transition: fill var(--transition);
  }
  
  .max-width {
    max-width: var(--max-width);
    margin: 0 auto;
  }
  
}