.para {
  margin: 0;

  color: rgb(90, 95, 122);
  line-height: 1.5;
  font-size: 14px;
  font-family: Roboto, sans-serif;
}

.para--a {
  font-size: 16px;
  color: rgb(90, 95, 122);
  font-family: Segoe UI, Roboto, sans-serif;
}

.para--b {
  font-size: clamp(18px, 2vw, 20px);
  font-family: Poppins, sans-serif;
  text-align: center;
}

.para--c {
  color: rgb(0, 49, 49);
  line-height: 1.15;
  opacity: 0.8;
}

.para--medium {
  font-size: 18px;
}

.para--centered {
  text-align: center;
}