.container {
  --offset: clamp(50px, 8vw, 300px);

  position: relative;
  
  margin-top: var(--offset);
  
  background-color: rgb(163, 231, 203);
}

.background {
  position: absolute;
  top: calc(var(--offset) * -1);
}

.content {
  position: relative;

  display: flex;
  flex-direction: column;
  gap: 24px;

  padding: 0 32px 32px;
}

.middle {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.middle--desktop {
  flex-direction: row;
  justify-content: space-between;
}
.middle > :first-child {
  flex-grow: 1;
}

.bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  padding-top: 24px;

  border-top: 1px solid rgb(134, 221, 185);
}