.container {
  --offset: clamp(50px, 10vw, 300px);

  position: relative;
  
  margin-top: var(--offset);
  
  background-color: rgb(163, 231, 203);
}

.background {
  position: absolute;
  top: calc(var(--offset) * -1);
}

.content {
  position: relative;

  padding: 0 32px;
}