.container {
  display: flex;
  align-items: center;
  
  height: 60px;

  overflow: clip;
}

.list {
  position: relative;

  display: flex;
  align-items: center;
  
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  
  list-style: none;

  transition: left 300ms;
}

.list-item {
  display: flex;
  align-items: center;
  justify-content: center;
  
  height: 100%;

  flex-shrink: 0;
}